:root {
    /* color: ; */
   --primary-color-600: #106861;
   --secondary-color: #F3FFFD;
   --primary-color-200: #bde6e3;
   --primary-color-800: #042825;
   --white: #FFFFFF;
   --gray-200: #616161;
   --gray-400: #3A3A3A;
   --gray-500: #353535;
   --gray-600: #202020;


    /* font-size: ; */
    --font-size-xs: 0.75rem;
    --font-size-sm: 0.875rem;
    --font-size-base: 1rem;
    --font-size-1g: 1.375rem;
    --font-size-xl: 1.5rem;
    --font-size-2xl: 2rem;
    --font-size-heading: 3.5625rem;
    

}


/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*, *::before, *::after {
    box-sizing: border-box;
  }
  
  * {
    margin: 0;
  }
  
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  input, button, textarea, select {
    font: inherit;
  }
  
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }

  ul, ol {
    list-style: none;
    padding: 0;
  }
  
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  
  #root, #__next {
    isolation: isolate;
     }
  
    /* utility classes */

    .font-regular {
        font-weight: 400;
    }

    .font-medium {
        font-weight: 500;
    }

    .font-bold {
        font-weight: 700;
    }

    .container {
        --max-width: 1280px;
        --padding: 0.5rem;
        width: min(var(--max-width), 100% - (var(--padding) * 2));
        margin-inline: auto;
}

:where(.flow > :not(:first-child)) {
    margin-top: var(--flow-spacer, 2.5rem);
}

@media (min-width: 768px) {
    .even-colums{
        grid-auto-flow: column;
        grid-auto-columns: 1fr;
    }
}

.even-colums {
    display: grid;
    gap: 1rem;
}

.button {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    border-radius: 0.5rem;
    font-size: var(--font-size-sm);
    line-height: 1;
    letter-spacing: 0.001em;
}

.button_primary {
    background-color: var(--primary-color-600);
    border: 2px solid var(--gray-600);
    color: var(--secondary-color);
}

.button_plain {
    background-color: transparent;
    border: 1px solid var(--gray-400);
}

.button_inverted {
    background-color: #FDFDFD;
    border-bottom: 2px solid #1C3230;
}

a {
    text-decoration: none;
}

/* General styling */


body {
    background-color: var(--secondary-color);
    color: var(--gray-400);
    font-family: 'DM Sans', sans;
}

.main-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 16px;

}

.main-header nav ul {
    display: flex;
    align-items: center;
    gap: 2.875rem;
    list-style: none;

}

.main-header nav a {
    color: var(--gray-400);
    font-size: var(--font-size-base);
    line-height: none;
    font-weight: 500;
    letter-spacing: 0.0015em;
}

.main-header .button {
    padding: 19px 73px;
}

/* HERO SECTION */

.hero-section {
    margin-top: 120px;
}

.hero-section .flow > article {
    display: flex;
    align-items: center;
    gap: 26px;
    background-color: var(--primary-color-200);
    border-radius: 80px;
    border: 1px solid #00000033;
    padding: 4px 16px;
    width: fit-content;
}

.hero-section .flow>article > p {
    font-size: var(--font-size-xs);
    line-height: 1.25rem;
    letter-spacing: 0.1px;

}

.hero-section .flow>article>p>span {
   color: var(--primary-color-600);
}

.hero-section .flow>h1 {
    font-size: var(--font-size-heading);
    line-height: 1.3;
    letter-spacing: -0.0025em;
    max-width: 21ch;

}

.hero-section .flow>p {
    font-size: var(--font-size-1g);
    letter-spacing: -0.0025em;
    max-width: 48ch;
    line-height: 1.25;
}

.hero-section .flow>.button-container {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin-top: 3.875rem;
}

.hero-section .flow>.button-container .button:first-child {
    padding: 19px 76px;
}

.hero-section .flow>.button-container .button:last-child {
    padding: 19px 24px;
}

.hero-section .flow>.stats-list {
    display: flex;
    align-items: center;
    opacity: 0.7;
    gap: 3.375rem;
    margin-top: 2.9688rem;
}

.hero-section .flow>.stats-list li  {
   display: flex;
   align-items: center;
   flex-direction: column;
   text-align: center;
   letter-spacing: 0.25px;
}

.hero-section .flow>.stats-list li h5{
    font-size: var(--font-size-xl);
    line-height: 1.5;
}

.hero-section .flow>.stats-list li p {
    font-size: var(--font-size-sm);
    line-height: 1.6;
}

.hero-section .image-wrapper {
    position: relative;
    justify-self: end;
}

.hero-section .image-wrapper>div {
    position: absolute;
    left: -93px;
    display: flex;
    gap: 8px;
    align-items: center;
    max-width: fit-content;
    background-color: var(--white);
    border: 0.85px solid var(--gray-400);
    border-radius: 13.54px;
    padding: 13.54px;
}

.hero-section .image-wrapper>div:nth-child(2) {
    top: 33px;
}

.hero-section .image-wrapper>div:nth-child(3) {
    top: 130px;
}

.hero-section .image-wrapper>div:nth-child(4) {
    top: 225px;
}

.hero-section .image-wrapper>div:last-child {
    left: auto;
    right: -73px;
    bottom: 68px;

}

.hero-section .image-wrapper>div>p {
    font-size: 13.54px;
    line-height: 1.5;
    letter-spacing: 0.0015em;
    width: 21ch;
}

.trustees {
   margin-top: 80px;
}

.trustees>h5 {
   font-size: var(--font-size-base);
   line-height: 1.5;
   letter-spacing: 0.0015em;

}

.trustees > ul {
    display: flex;
    align-items: center;
    gap: 3.6875rem;
    margin-top: 16px;
}

/* .solutions > .achievments {
    display: flex;
    align-items: center;
    flex-direction: column;
} */

.solutions .achievments>h3{

    font-size: var(--font-size-heading);
    font-weight: 500;
    line-height: 1.12;
    letter-spacing: -0.0025em;
    max-width: 700px;
    margin-top: 73px;
}

.solutions .achievments > .list-wrappers{
    display: flex;
    align-items: center;
    gap: 3.375rem;
    margin-top: 2.9688rem;
  
}

.solutions .achievments > .list-wrappers li {

   /* text-align: center; */
   /* letter-spacing: 0.25px; */
  /* font-size: 16px; */
  /* font-weight: 400; */
  /* line-height: 1.6; */
  /* letter-spacing: 0.005em; */
  /* text-align: left; */
  border: 1px solid #000000;
  border-radius: 16px;
  padding: 17.8px;
  /* max-width: 23ch; */
  width: 100%;
} 

.solutions .achievments>.list-wrappers li h5{

    font-size: var(--font-size-xl);
    line-height: 1.25;

}

.solutions .achievments>.list-wrappers li p {

    font-size: var(--font-size-base);
    line-height: 1.6;
   letter-spacing: 0.005em;
   opacity: 0.7;
   max-width: 22.5ch;

}
